.attractions {
    font-family: 'Ibarra Real Nova', serif; /* Apply the font */
    color: #333;
  }
  
  .attractions-header {
    position: relative;
    text-align: center;
    font-family: 'Sansita Swashed', cursive; /* Apply Sansita Swashed font */
    font-weight: bold; /* Make the font bold */
    color: #333;
  }
  
  .attractions-image {
    width: 100%;
    height: auto;
    max-width: 3000px; /* Adjust as needed */
    border-radius: 8px;
  }
  
  .attractions-header h1 {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
  }
  
  .top-attractions h2,
  .explore-areas h2 {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .top-attractions, .explore-areas {
    text-align: center;
    padding: 20px;
  }
  
  .video-container {
    margin: 20px 0;
  }
  
  .video-container iframe {
    width: 80%;
    height: 450px;
  }
  
  .area-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .area-card {
    width: 220px; /* Adjust the card width if necessary */
    margin: 10px;
    text-align: center;
  }
  
  .area-card img {
    width: 100%;
    height: 220px; /* Fixed height to ensure uniform size */
    object-fit: cover; /* Ensures image covers the area without distortion */
    border-radius: 10px; /* Rounded corners */
  }
  
  .area-card h3 {
    margin: 10px 0;
  }
  
  .explore-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: #B9EEFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    margin-top: 20px; /* Add margin for spacing */
}

.explore-more:hover {
    background-color: #3c5d80; /* Darken button color on hover */
}
  
  .attractions-footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #007BFF;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: inline-block;
  }
  
  .social-icons a {
    color: #333;
    margin: 0 5px;
    font-size: 1.2rem;
  }
  
  .footer-info {
    margin-top: 10px;
  }
  
  .footer-info a {
    color: #007BFF;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-info a:hover {
    text-decoration: underline;
  }
  